{% extends 'kalendar/menu.html'%}
{% load static %}
{% block CSS %}
{% static "css/about.css" %}
{% endblock %}
{% block title %}
Разработчик
{% endblock %}



{% block body %}
<p class="small_text">МИНОБРНАУКИ РОССИИ

ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ 
УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ
«НИЖЕГОРОДСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ
УНИВЕРСИТЕТ ИМ. Р.Е. АЛЕКСЕЕВА»
(НГТУ)</p>
<br>
<p style="text-align: center;">
    Институт ИРИТ
    <br>Кафедра КТПП
    <br>
    <br>ОТЧЕТ
    <br>
    <br>Направление подготовки/специальность: 
    <br>09.03.02 Информационные системы и технологии
    <br><br>
    <br>Выполнил: Студент 
    <br>гр.22-ИСТ-3 Напылова Д.А.
    <br><br><p class="small_text">
    <br>Руководитель практики от кафедры:
</p>
<p style="text-align: center;">
    доцент, к.т.н. Садков В.Д.
    <br>Дата защиты
    <br>«19» июля 2023 г. 
</p>
    <p class="small_text"><br>Нижний Новгород 2023</p>
{% endblock %}


