<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static "css/standart.css" %}">
    <link rel = "stylesheet" href="{% block CSS %}{% endblock %}">
    <title>{% block title %}{% endblock %} </title>
</head>

<body>
    <div style="margin: 0px;width: 100%;">
        {%if request.user.is_authenticated %}
            <ul class="menu-main">
                <li><a href="{% url 'tasks' %}">Мои задачи</a></li>
                <li><a href="{% url 'contact' %}">Инфо о разрабе</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        {%else%}
            <ul class="menu-main">
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'contact' %}">Инфо о разрабе</a></li>
            </ul>
        {%endif%}
        <br>
    </div>
<div class="body">
    <br>
    {% block body %}{% endblock %}
</div>
</body>
<footer>
    
</footer>
</html>