{% extends 'kalendar/menu.html' %}
{% block title %}
Пароль
{% endblock %}

{% load static %}
{% block CSS %}
{% static "css/forms.css" %}
{% endblock %}

{% block body %}
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Востановить пароль</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
		{% endfor %}
		<br><br>
		<div style="display: flex; justify-content: space-between;">
			<input type="submit" value="Отправить" style="background-color: white; padding:5px 15px 5px 15px; border-radius: 15px; 
			border-color: white;border:none; font-family: 'Comfortaa'; font-size: 16px;">
			<a href="{%url 'login' %}"  style="background-color: white; font-size: 16px;padding:5px 15px 5px 15px; border-radius: 15px; 
			border-color: white;border:none; font-family: 'Comfortaa'; text-decoration: none;">Отмена</a>
		</div>
	</form>
</div>
{% endblock body %}