{% extends 'kalendar/menu.html'%}

{% block CSS %}{% endblock %}
{% block title %}
Планер
{% endblock %}



{% block body %}
{%if request.user.is_authenticated %}
<div style="    display: flex; justify-content: space-between;">
  <div>
    
    <h2>{% if id %} Редактировать {% else %} Создать {% endif %} задачу</h2>
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      
      <p>{{ form.tag.label_tag }} {{ form.tag }}<br>
        {{ form.to_date.label_tag }} {{ form.to_date }}<br>
        {{ form.text.label_tag }} {{ form.text }}<br>
        {{ form.img.label_tag }} {{form.img}}<br></p>
      <input type="submit" value="Создать" />
    </form>
  </div>
  <div style="text-align: right;">
    <h1>Мои задачи</h1>
      {%if tasks%}
        {% for task in tasks %}
          
            <p>-------------------</p>
            <h2>{{ task.tag }}</h2>
            {% if task.img %}
            <img style="width: 100px; height: 100px;"   src="{{task.img.url}}" class="img"  accept=".jpg,.jpeg,.png"/>
            {% endif %}
            <small>Сделать до {{ task.to_date | date:"d M Y" }}</small>
            <p>{{ task.text }}<br>
            </p> 
            <a href="{% url 'task_edit' task.id %}">Редактировать </a>
            <form method="POST">
                <a href="{% url 'tasks' task.id %}">Удалить</a>
            </form>
            
          {% endfor %}
        {%else%}
        <p>-------------------</p>
        <h2>Задач нет</h2>
        {% endif %}
        {% if messages %}
        <dialog open="open" id="closeMe" style="margin: 0px;background: rgb(15, 58, 100);z-index: 2;position: fixed;top: 90%;
        left: 1%;padding: 11px;border-radius: 15px;text-align: center;">
          <form method="dialog">
            <button style="margin: 0px;background: rgb(15, 58, 100);z-index: 2;position: fixed;top: 90%;
            left: 1%;padding: 11px;border-radius: 15px;text-align: center;">
                {% for message in messages %}
                  <h6 style="margin: 0px; color: white;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>#{{ message }}</h6>
                  <p style="margin: 0px; color: white;text-align: center;font-size: 10px;">(Нажми, чтоб закрыть)</p>
                {% endfor %}
            </button>
          </form>
        </dialog>
        {% endif %}
  </div>
</div>
{%endif%}
{% endblock %}


