{% extends 'kalendar/menu.html'%}

{% block CSS %}{% endblock %}
{% block title %}
Изменение задачи
{% endblock %}

{% block body %}
{%if request.user.is_authenticated %}
<div>
    <h2>Редактировать задачу</h2>
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
        <p>Задача{{ form.tag }}<br>
            Закончить к {{ form.to_date }}<br>
            Дополнительное описание {{ form.text }}<br>
            Изменить или добавить фото {{form.img}}<br></p>
        <input type="submit" value="Обновить" />
    </form>
</div>
{%endif%}
{% endblock %}


