{% extends 'kalendar/menu.html'%}

{% load static %}
{% block CSS %}
{% static "css/task.css" %}
{% endblock %}

{% block title %}
Изменение задачи
{% endblock %}

{% block body %}
{%if request.user.is_authenticated %}
<div>
    <h2>Редактировать задачу</h2>
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
        <p>Задача {{ form.tag }}<br>
            Закончить к {{ form.to_date }}<br>
            Дополнительное описание <br>{{ form.text }}</p>
            <p class="in">Изменить или добавить фото {{form.img}}<br></p>
        <input type="submit" value="Обновить" style="background-color: #F58262; padding:5px 15px 5px 15px; border-radius: 15px; 
        border-color: #F58262;border:none; font-family: 'Comfortaa';"/>
    </form>
</div>
{%endif%}
{% endblock %}


