{% extends 'kalendar/menu.html'%}

{% load static %}
{% block CSS %}
{% static "css/task.css" %}
{% endblock %}

{% block title %}
Планер
{% endblock %}



{% block body %}
{%if request.user.is_authenticated %}
<div class="block_task">
  <div>
    
    <h2> Создать задачу</h2>
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      <div class="pole">
        <p >Задача {{ form.tag }}</p>
        <p>Закончить к {{ form.to_date }}</p>
        <p>Дополнительное описание <br>{{ form.text }}</p>
        <p class="in">Добавить фото  <br>{{form.img}}</p>
      </div>
      <input type="submit" value="Создать" style="background-color: #F58262; padding:5px 15px 5px 15px; border-radius: 15px; 
			border-color: #F58262;border:none; font-family: 'Comfortaa';"/>
    </form>
  </div>
  <div style="text-align: right;">
    <h1>Мои задачи</h1>
      {%if tasks%}
      <div class="task_blocks">
        {% for task in tasks %}
        <div class="task">
            <div style="display: flex;text-align: center; justify-content: space-evenly;">{% if task.img %}<img style="width: 100px; height: 100px;"   src="{{task.img.url}}" class="img"  accept=".jpg,.jpeg,.png"/>{% endif %}<h2>{{ task.tag }}</h2></div>
            <small>Сделать до {{ task.to_date | date:"d M Y" }}</small>
            <p>{{ task.text }}<br> </p> 
            <a href="{% url 'task_edit' task.id %}">Редактировать </a>
            <form method="POST">
                <a href="{% url 'tasks' task.id %}">Удалить</a>
            </form>
          </div>
          {% endfor %}
        </div>
        {%else%}
        <h2>Задач нет</h2>
        {% endif %}
        {% if messages %}
        <dialog open="open" id="closeMe" style="margin: 0px;background: rgb(15, 58, 100);z-index: 2;position: fixed;top: 90%;
        left: 1%;padding: 11px;border-radius: 15px;text-align: center;">
          <form method="dialog">
            <button style="margin: 0px;background: rgb(15, 58, 100);z-index: 2;position: fixed;top: 90%;
            left: 1%;padding: 11px;border-radius: 15px;text-align: center;">
                {% for message in messages %}
                  <h6 style="margin: 0px; color: white;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>#{{ message }}</h6>
                  <p style="margin: 0px; color: white;text-align: center;font-size: 10px;">(Нажми, чтоб закрыть)</p>
                {% endfor %}
            </button>
          </form>
        </dialog>
        {% endif %}
  </div>
</div>
{%endif%}
{% endblock %}


