.box{
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
    margin-left: 55px;
}
@media(max-width:680px) {
    .box {display: block;}
    .box>p{
        font-size: 10px;
    }
  }
p>input, a>input{
    width:175px;
}
.text_form{
    font-family: 'Montserrat';
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_form>input{
    border-color: grey;

}
.text_form>input:focus {
    border-color: grey;
    border-color: #bdbdbd;
    outline: 0;
  }