@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;600;700&display=swap');
html{
  margin: -1%;
  
}
h6{
  font-family: 'Montserrat';
  font-size: 18px;
  margin: 0px;
}
p{
  font-family: 'Montserrat';
  font-size: 24px;
}
h1, h2, h3, h4, h5, a{
  font-family:  'Comfortaa';
}
.body{
  margin-right: 85px;
  margin-left: 85px;
}
.menu-main {
  list-style: none;
  padding: 15px 30px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  position: relative;
  background: rgb(15, 58, 100);

}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 30px;

  color: #777777;
  transition: .3s linear;
  position: relative;
}

.menu-main a:hover {color: #F58262;}

@media(max-width:680px) {
  .menu-main li {display: block;}
}


form>p>input{
  border-color: grey;
  font-size: 18px;
}
.button_reg{  
  margin: 0px;
  background: rgb(15, 58, 100);
  z-index: 2;
  position: fixed;
  top: 90%;
  left: 93%;
  padding: 11px;
  border-radius: 15px;  
  text-align: center;
}

.button_input{
  border-radius: 25%;
  background-color: #F58262;
}
input{
  border-radius: 15px;
  border-color: grey;
}